/* Reset */
* {
  border: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  outline: none !important;
  padding: 0;
  scroll-behavior: smooth;
}

body,
html {
  background-color: #FAFAFA;
  color: #4D4D4D;
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

button,
a {
  cursor: pointer;
}


/* Title */
.title {
  color: #4D4D4D;
  font-family: 'Kalam', cursive;
  font-size: 64px;
  line-height: 102px;
  margin-bottom: 36px;
  margin-top: 40px;
  text-align: center;
}

/* Grid */
.row {
  display: flex;
  flex-wrap: wrap;
}

.row+.row {
  margin-top: 16px;
}

.col-6 {
  flex: 0 50%;
  padding: 0 12px;
}

.col-12 {
  flex: 0 100%;
  padding: 0 12px;
}

/* Form */
.form {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 20px -6px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px 8px;
  width: 100%;
}

/* Box Input */
.box-input {
  height: 82px;
}

.box-input .label {
  color: #4D4D4D;
  display: block;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 4px;
}

.box-input .input {
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  font-size: 20px;
  line-height: 24px;
  padding: 8px 12px;
  width: 100%;
}

.box-input .input::placeholder {
  color: #E5E5E5;
}

/* Box Textarea */
.box-textarea .label {
  color: #4D4D4D;
  display: block;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 4px;
}

.box-textarea .textarea {
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 20px;
  height: 120px;
  line-height: 24px;
  padding: 12px;
  width: 100%;
}

.box-textarea .textarea::placeholder {
  color: #E5E5E5;
}

/* Button */
.box-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 20px;
}

.btn {
  height: 48px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 12px 20px;
  transition: .2 ease-in-out;
}

.btn:hover {
  opacity: .85;
}

.btn.default {
  background-color: #E5E5E5;
  color: #4D4D4D;
}

.btn.primary {
  background-color: #1E5DFF;
  color: #FFFFFF;
}

/* Box Experiences */
.box-experience {
  display: block;
  margin: 116px auto;
  max-width: 820px;
  position: relative;
  width: 100%;
}


.box-experience .experience {
  align-content: start;
  display: flex;
}

.box-experience::before {
  background-color: #E5E5E5;
  content: '';
  display: block;
  height: calc(100% + 20px);
  left: 48px;
  position: absolute;
  width: 4px;
}

.box-experience::after {
  background-color: #E5E5E5;
  border-radius: 50%;
  content: '';
  display: block;
  height: 16px;
  left: 42px;
  position: absolute;
  top: calc(100% + 20px);
  width: 16px;
}

.box-experience .experience+.experience {
  margin-top: 32px;
}

.box-experience .experience .avatar {
  background-color: #E5E5E5;
  border-radius: 50%;
  color: #1E5DFF;
  display: block;
  font-size: 72px;
  font-family: 'Kalam', cursive;
  height: 100px;
  min-height: 100px;
  min-width: 100px;
  text-align: center;
  width: 100px;
  z-index: 10;
}

.box-experience .experience .content {
  margin-left: 20px;
}

.box-experience .experience .content .company {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 4px;
}

.box-experience .experience .content .job {
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 4px;
}

.box-experience .experience .content .period {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 12px;
}

.box-experience .experience .content .description {
  font-size: 16px;
  line-height: 20px;
}
